@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

body{
    background-color: #F9F8FE;
}

.btn {
    line-height: 40px;
    background-color: #C92071;
    color: white !important;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    text-align: center;
    display: block;
    transition-duration: 200ms;

    &:hover {
        background-color: #991956;
    }

    &.inverso {
        background-color: #F5F5F5;
        color: #C92071 !important;

        &:hover {
            background-color: #B5B6F2;
            color: white !important;
        }
    }

}

header {
    background-color: white;
    padding: 34px 100px 29px 100px;

    .topo {
        display: flex;
        align-items: center;

        .logo {
            font-size: 36px;
            font-weight: 600;
            color: #C92071;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .buscador {
            flex: 1;
            background-color: #47474710;
            border-radius: 8px;
            margin-left: 27px;
            margin-right: 48px;
            display: flex;
            align-items: center;
            padding-right: 16px;

            input {
                width: 100%;
                height: 60px;
                background-color: transparent;
                padding-left: 24px;
            }
        }

        .acoes {
            display: flex;
            align-items: center;

            a {
                color: #474747;
                text-decoration: underline;

                &:hover {
                    color: #C92071;
                }

                &.btn {
                    width: 114px;
                    margin-left: 30px;
                    margin-right: 70px;
                    text-decoration: none;
                }
            }

            .carrinho {
                position: relative;

                span {
                    min-width: 17px;
                    line-height: 17px;
                    border-radius: 9px;
                    background-color: #EE4266;
                    color: white;
                    font-weight: bold;
                    font-size: 12px;
                    display: block;
                    text-align: center;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                }
            }
        }
    }

    nav {
        display: flex;
        gap: 32px;
        margin-top: 40px;

        a {
            color: #474747;
            transition-duration: 200ms;

            &.active {
                color: #C92071;
                font-weight: bold;
                border-bottom: 2px solid #C92071;
            }

            &:hover {
                color: #C92071;
            }
        }
    }
}

main {

    #banner {
        display: flex;
        align-items: center;
        padding-left: 100px;
        background-color: #f5f5f5;
        position: relative;
        justify-content: flex-end;
        margin-bottom: 38px;

        & .conteudo {
            position: absolute;
            left: 100px;
            top: 50%;
            transform: translateY(-50%);

            & h6 {
                color: #F6AA1C;
                font-size: 16px;
                margin-bottom: 20px;
            }

            & h2 {
                font-size: 64px;
                line-height: 66px;
                margin-bottom: 20px;
                color: #1f1f1f;
            }

            & p {
                color: #474747;
                font-size: 18px;
                line-height: 34px;
                margin-bottom: 40px;
            }

            & .btn {
                width: 220px;
            }
        }

        & .tenis{
            position: relative;
            z-index: 2;
        }

        & .detalhe {
            width: auto;
            position: absolute;
            top: 78px;
            right: 37px;
            z-index: 1;
        }
    }

    #destaques {
        padding: 0 100px;

        h3 {
            color: #474747;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .colecoes {
            display: flex;
            gap: 12px;
            margin-bottom: 100px;

            &>div {
                background-color: #D8E3F2;
                flex: 1;
                padding-left: 30px;
                padding-top: 34px;
                padding-bottom: 34px;
                position: relative;
                border-radius: 8px;

                & .conteudo {
                    position: relative;
                    z-index: 1;
                }

                h6 {
                    font-size: 14px;
                    text-transform: uppercase;
                    line-height: 32px;
                    padding: 0 15px;
                    border-radius: 20px;
                    background-color: #E7FF86;
                    display: inline-block;
                    margin-bottom: 10px;
                }

                h2 {
                    font-size: 32px;
                    margin-bottom: 20px;
                }

                .btn {
                    width: 150px;
                }

                img {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }

            &+h3 {
                text-align: center;
            }
        }

        .departamentos {
            display: flex;
            justify-content: center;
            gap: 48px;
            font-weight: bold;
            font-size: 14px;
            text-align: center;

            .icon {
                width: 104px;
                height: 104px;
                border-radius: 50%;
                background-color: white;
                margin-bottom: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition-duration: 200ms;

                &:hover {
                    box-shadow: 0 0 70px #00000025;
                }

                img {
                    width: 64px;
                    filter: invert(57%) sepia(0%) saturate(0%) hue-rotate(147deg) brightness(98%) contrast(97%);

                    &.bone {
                        width: 95px;
                    }

                    &:hover {
                        filter: invert(20%) sepia(65%) saturate(3303%) hue-rotate(313deg) brightness(94%) contrast(95%);
                    }
                }
            }
        }
    }

    #produtos {
        margin-top: 120px;
        padding: 0 100px;

        & .titulo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            & h3 {
                font-size: 24px;
                line-height: 38px;
                color: #474747;
            }

            & a {
                color: #C92071;
                font-size: 18px;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        & .cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 24px;

            & .card {
                & a {
                    display: block;
                    color: black;

                    & .imagem {
                        background-color: white;
                        box-shadow: 0 0 50px #00000015;
                        height: 320px;
                        border-radius: 4px;
                        padding: 20px;
                        margin-bottom: 18px;

                        h6 {
                            font-size: 14px;
                            text-transform: uppercase;
                            line-height: 32px;
                            padding: 0 15px;
                            border-radius: 20px;
                            background-color: #E7FF86;
                            color: #474747;
                            display: inline-block;
                            margin-bottom: 10px;
                        }

                        img{
                            width: 100%;
                        }
                    }

                    & span {
                        color: #8F8F8F;
                        font-size: 12px;
                        line-height: 24px;
                    }

                    & h4 {
                        font-size: 24px;
                        line-height: 38px;
                        color: #474747;
                        font-weight: normal;
                    }

                    & h5 {
                        font-size: 24px;
                        line-height: 38px;

                        & del{
                            color: #474747;
                            font-weight: normal;
                            text-decoration: line-through;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }

    #oferta{
        padding: 100px;
        display: flex;
        align-items: center;
        background-color: white;
        gap: 70px;

        .produto-oferta{
            width: 400px;
            position: relative;
            z-index: 2;
        }

        & > div{
            position: relative;
        }

        .produto-detalhe{
            width: 350px;
            height: 350px;
            background-image: linear-gradient(#4200FF50, transparent 60%);
            border-radius: 50%;
            position: absolute;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
            top: -30px;
        }

        h6{
            font-size: 12px;
            color: #C92071;
            line-height: 22px;
            margin-bottom: 16px;
        }

        h2{
            font-size: 48px;
            line-height: 50px;
            color: #474747;
            margin-bottom: 20px;
        }

        p{
            font-size: 16px;
            line-height: 28px;
            color: #474747;
            margin-bottom: 30px;
        }

        .btn{
            width: 200px;
        }
    }

}

footer{
    background-color: #1f1f1f;
    color: white;
    padding: 100px 100px 0 100px;

    & .rodape{
        display: flex;
        justify-content: space-between;
        & .conteudo{
            width: 300px;
            & img{
                margin-bottom: 35px;
            }

            & p{
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 40px;
            }

            & .redes{
                display: flex;
                gap: 35px;
                & box-icon{
                    fill: white;
                    transition-duration: 200ms;
                    &:hover{
                        fill: #C92071;
                    }
                }
            }
        }

        & .sitemap{
            display: flex;
            gap: 50px;
            & div{
                width: 170px;

                & h5{
                    font-size: 18px;
                    margin-bottom: 28px;
                }

                & a{
                    display: block;
                    color: white;
                    transition-duration: 200ms;
                    margin-bottom: 18px;
                    &:hover{
                        color: #C92071;
                        margin-left: 10px;
                    }

                    & address{
                        font-style: normal;
                    }
                }
            }
        }
    }

    & h6{
        text-align: center;
        padding: 22px 0;
        border-top: 1px solid #FFFFFF50;
        font-size: 13px;
        font-weight: normal;
        margin-top: 34px;
    }
}


@media screen and ( width <= 1024px ) {
    main{
        #banner{
            & .conteudo{
                left: 50px;
                & h2 {
                    font-size: 50px;
                    line-height: 56px;
                }
            }
    
            & .tenis{
                width: 600px;
            }
        }

        #destaques{
            padding-left: 50px;
            padding-right: 50px;

            & .colecoes{
                & > div{
                    padding-left: 16px;
                    padding-top: 16px;
                    padding-bottom: 16px;
                    & img{
                        width: 65%;
                    }
                }
            }
        }
    }
}

@media screen and ( width <= 768px ) {
    main{
        #banner{
            overflow: hidden;
            padding-left: 0;
            padding-bottom: 60px;
            flex-direction: column-reverse;
            justify-content: initial;
            align-items: center;
            & .conteudo{
                position: initial;
                left: initial;
                top: initial;
                transform: none;
                text-align: center;
                .btn{
                    margin: 0 auto;
                }
            }
    
            & .tenis{
                height: 50%;
            }

            & .detalhe{
                width: 120px;
                top: 0;
                right: -60px;
            }
        }
    }
}

@media screen and ( width <= 450px ) {
    main{
        #banner{
            padding-left: 16px;
            padding-right: 16px;
            & .conteudo{
                & h6{
                    color: #C92071;
                }

                & h2{
                    font-size: 40px;
                    line-height: 46px;
                    font-weight: 900;
                }

                & p{
                    font-size: 14px;
                    line-height: 22px;
                    & br{
                        display: none;
                    }
                }
            }
            & .tenis{
                width: auto;
                height: 200px;
            }

            & .detalhe{
                width: 120px;
                top: 0;
                right: -60px;
            }
        }

        #destaques{
            padding-left: 16px;
            padding-right: 16px;
            
            & .colecoes{
                flex-direction: column;

                & > div{
                    & img{
                        width: auto;
                    }
                }
            }

            & .departamentos{
                flex-wrap: wrap;
            }

        }
    }
}